.app {
  width: 100vw;
  height: 100vh;
  .imgWrapper {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
  img {
    width: 100%;
  }
  .trendKeywords {
    position: absolute;
    bottom: 3.5%;
    left: 12%;
    @media (max-width: 500px) {
      left: 10%;
      bottom: 2%;
    }
  }

}